@-webkit-keyframes flash {
  10% {
    /* opacity: 0.5; */
    -webkit-transform: scale(0.5, 0.5);
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}
@-moz-keyframes flash {
  10% {
    /* opacity: 0.5; */
    -webkit-transform: scale(0.5, 0.5);
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}
@-ms-keyframes flash {
  10% {
    /* opacity: 0.5; */
    -webkit-transform: scale(0.5, 0.5);
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}
@keyframes flash {
  10% {
    /* opacity: 0.5; */
    -webkit-transform: scale(0.5, 0.5);
    -moz-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}
.xmasTree:before {
  font-family: FontAwesome;
  content: '\f005';
  color: #f5cd2d;
  position: absolute;
  display: block;
  font-size: 60px;
  line-height: 60px;
  height: 60px;
  width: 60px;
  top: 10px;
  left: -20px;
  -webkit-animation: flash 1s ease  infinite forwards;
  -moz-animation: flash 1s ease  infinite forwards;
  -ms-animation: flash 1s ease  infinite forwards;
  animation: flash 1s ease  infinite forwards;
}

.xmasTree {
  -webkit-animation: xmasTree 1s linear  infinite forwards;
  -moz-animation: xmasTree 1s linear  infinite forwards;
  -ms-animation: xmasTree 1s linear  infinite forwards;
  animation: xmasTree 1s linear  infinite forwards;
  width: 1em;
  height: 1em;
  position: absolute;
  margin-top: 6%;
  top: 30%;
  left: 50%;
  box-shadow: 0 3em 0 0 #4b4b4b, 1em 4em 0 0 #4b4b4b, 0 4em 0 0 #649632, -1em 4em 0 0 #4b4b4b, -2em 5em 0 0 #4b4b4b, -1em 5em 0 0 #96cbcf, 0 5em 0 0 #649632, 1em 5em 0 0 #649632, 2em 5em 0 0 #4b4b4b, 3em 6em 0 0 #4b4b4b, 2em 6em 0 0 #649632, 1em 6em 0 0 #eb0000, 0 6em 0 0 #649632, -1em 6em 0 0 #649632, -2em 6em 0 0 #649632, -3em 6em 0 0 #4b4b4b, -2em 7em 0 0 #4b4b4b, -1em 7em 0 0 #649632, 0 7em 0 0 #2d8434, 1em 7em 0 0 #649632, 2em 7em 0 0 #4b4b4b, 3em 8em 0 0 #4b4b4b, 2em 8em 0 0 #649632, 1em 8em 0 0 #2d8434, 0 8em 0 0 #649632, -1em 8em 0 0 #2d8434, -2em 8em 0 0 #649632, -3em 8em 0 0 #4b4b4b, -4em 9em 0 0 #4b4b4b, -3em 9em 0 0 #649632, -2em 9em 0 0 #eb0000, -1em 9em 0 0 #649632, 0 9em 0 0 #d8ba00, 1em 9em 0 0 #649632, 2em 9em 0 0 #96cbcf, 3em 9em 0 0 #649632, 4em 9em 0 0 #4b4b4b, 3em 10em 0 0 #4b4b4b, 2em 10em 0 0 #649632, 1em 10em 0 0 #2d8434, 0 10em 0 0 #649632, -1em 10em 0 0 #2d8434, -2em 10em 0 0 #649632, -3em 10em 0 0 #4b4b4b, -4em 11em 0 0 #4b4b4b, -3em 11em 0 0 #649632, -2em 11em 0 0 #2d8434, -1em 11em 0 0 #649632, 0 11em 0 0 #2d8434, 1em 11em 0 0 #649632, 2em 11em 0 0 #2d8434, 3em 11em 0 0 #d8ba00, 4em 11em 0 0 #4b4b4b, 5em 12em 0 0 #4b4b4b, 4em 12em 0 0 #649632, 3em 12em 0 0 #649632, 2em 12em 0 0 #649632, 1em 12em 0 0 #649632, 0 12em 0 0 #649632, -1em 12em 0 0 #649632, -2em 12em 0 0 #649632, -3em 12em 0 0 #649632, -4em 12em 0 0 #649632, -5em 12em 0 0 #4b4b4b, -4em 13em 0 0 #4b4b4b, -3em 13em 0 0 #d8ba00, -2em 13em 0 0 #649632, -1em 13em 0 0 #96cbcf, 0 13em 0 0 #649632, 1em 13em 0 0 #649632, 2em 13em 0 0 #eb0000, 3em 13em 0 0 #649632, 4em 13em 0 0 #4b4b4b, 3em 14em 0 0 #4b4b4b, 2em 14em 0 0 #4b4b4b, 1em 14em 0 0 #4b4b4b, 0 14em 0 0 #aa782c, -1em 14em 0 0 #4b4b4b, -2em 14em 0 0 #4b4b4b, -3em 14em 0 0 #4b4b4b, -1em 15em 0 0 #4b4b4b, 0 15em 0 0 #4b4b4b, 1em 15em 0 0 #4b4b4b;
}

@media (max-width:768px) {
    .xmasTree {
        margin-top: 65px;
    }
}

body {
  background-color: #6b92b9;
}

@-webkit-keyframes xmasTree {
  25% {
    box-shadow: 0 3em 0 0 #4b4b4b, 1em 4em 0 0 #4b4b4b, 0 4em 0 0 #649632, -1em 4em 0 0 #4b4b4b, -2em 5em 0 0 #4b4b4b, -1em 5em 0 0 #96cbcf, 0 5em 0 0 #649632, 1em 5em 0 0 #649632, 2em 5em 0 0 #4b4b4b, 3em 6em 0 0 #4b4b4b, 2em 6em 0 0 #649632, 1em 6em 0 0 #649632, 0 6em 0 0 #649632, -1em 6em 0 0 #649632, -2em 6em 0 0 #649632, -3em 6em 0 0 #4b4b4b, -2em 7em 0 0 #4b4b4b, -1em 7em 0 0 #649632, 0 7em 0 0 #2d8434, 1em 7em 0 0 #649632, 2em 7em 0 0 #4b4b4b, 3em 8em 0 0 #4b4b4b, 2em 8em 0 0 #649632, 1em 8em 0 0 #2d8434, 0 8em 0 0 #649632, -1em 8em 0 0 #2d8434, -2em 8em 0 0 #649632, -3em 8em 0 0 #4b4b4b, -4em 9em 0 0 #4b4b4b, -3em 9em 0 0 #649632, -2em 9em 0 0 #649632, -1em 9em 0 0 #649632, 0 9em 0 0 #d8ba00, 1em 9em 0 0 #649632, 2em 9em 0 0 #96cbcf, 3em 9em 0 0 #649632, 4em 9em 0 0 #4b4b4b, 3em 10em 0 0 #4b4b4b, 2em 10em 0 0 #649632, 1em 10em 0 0 #2d8434, 0 10em 0 0 #649632, -1em 10em 0 0 #2d8434, -2em 10em 0 0 #649632, -3em 10em 0 0 #4b4b4b, -4em 11em 0 0 #4b4b4b, -3em 11em 0 0 #649632, -2em 11em 0 0 #2d8434, -1em 11em 0 0 #649632, 0 11em 0 0 #2d8434, 1em 11em 0 0 #649632, 2em 11em 0 0 #2d8434, 3em 11em 0 0 #d8ba00, 4em 11em 0 0 #4b4b4b, 5em 12em 0 0 #4b4b4b, 4em 12em 0 0 #649632, 3em 12em 0 0 #649632, 2em 12em 0 0 #649632, 1em 12em 0 0 #649632, 0 12em 0 0 #649632, -1em 12em 0 0 #649632, -2em 12em 0 0 #649632, -3em 12em 0 0 #649632, -4em 12em 0 0 #649632, -5em 12em 0 0 #4b4b4b, -4em 13em 0 0 #4b4b4b, -3em 13em 0 0 #d8ba00, -2em 13em 0 0 #649632, -1em 13em 0 0 #96cbcf, 0 13em 0 0 #649632, 1em 13em 0 0 #649632, 2em 13em 0 0 #649632, 3em 13em 0 0 #649632, 4em 13em 0 0 #4b4b4b, 3em 14em 0 0 #4b4b4b, 2em 14em 0 0 #4b4b4b, 1em 14em 0 0 #4b4b4b, 0 14em 0 0 #aa782c, -1em 14em 0 0 #4b4b4b, -2em 14em 0 0 #4b4b4b, -3em 14em 0 0 #4b4b4b, -1em 15em 0 0 #4b4b4b, 0 15em 0 0 #4b4b4b, 1em 15em 0 0 #4b4b4b;
  }
  50% {
    box-shadow: 0 3em 0 0 #4b4b4b, 1em 4em 0 0 #4b4b4b, 0 4em 0 0 #649632, -1em 4em 0 0 #4b4b4b, -2em 5em 0 0 #4b4b4b, -1em 5em 0 0 #649632, 0 5em 0 0 #649632, 1em 5em 0 0 #649632, 2em 5em 0 0 #4b4b4b, 3em 6em 0 0 #4b4b4b, 2em 6em 0 0 #649632, 1em 6em 0 0 #eb0000, 0 6em 0 0 #649632, -1em 6em 0 0 #649632, -2em 6em 0 0 #649632, -3em 6em 0 0 #4b4b4b, -2em 7em 0 0 #4b4b4b, -1em 7em 0 0 #649632, 0 7em 0 0 #2d8434, 1em 7em 0 0 #649632, 2em 7em 0 0 #4b4b4b, 3em 8em 0 0 #4b4b4b, 2em 8em 0 0 #649632, 1em 8em 0 0 #2d8434, 0 8em 0 0 #649632, -1em 8em 0 0 #2d8434, -2em 8em 0 0 #649632, -3em 8em 0 0 #4b4b4b, -4em 9em 0 0 #4b4b4b, -3em 9em 0 0 #649632, -2em 9em 0 0 #eb0000, -1em 9em 0 0 #649632, 0 9em 0 0 #d8ba00, 1em 9em 0 0 #649632, 2em 9em 0 0 #649632, 3em 9em 0 0 #649632, 4em 9em 0 0 #4b4b4b, 3em 10em 0 0 #4b4b4b, 2em 10em 0 0 #649632, 1em 10em 0 0 #2d8434, 0 10em 0 0 #649632, -1em 10em 0 0 #2d8434, -2em 10em 0 0 #649632, -3em 10em 0 0 #4b4b4b, -4em 11em 0 0 #4b4b4b, -3em 11em 0 0 #649632, -2em 11em 0 0 #2d8434, -1em 11em 0 0 #649632, 0 11em 0 0 #2d8434, 1em 11em 0 0 #649632, 2em 11em 0 0 #2d8434, 3em 11em 0 0 #d8ba00, 4em 11em 0 0 #4b4b4b, 5em 12em 0 0 #4b4b4b, 4em 12em 0 0 #649632, 3em 12em 0 0 #649632, 2em 12em 0 0 #649632, 1em 12em 0 0 #649632, 0 12em 0 0 #649632, -1em 12em 0 0 #649632, -2em 12em 0 0 #649632, -3em 12em 0 0 #649632, -4em 12em 0 0 #649632, -5em 12em 0 0 #4b4b4b, -4em 13em 0 0 #4b4b4b, -3em 13em 0 0 #d8ba00, -2em 13em 0 0 #649632, -1em 13em 0 0 #649632, 0 13em 0 0 #649632, 1em 13em 0 0 #649632, 2em 13em 0 0 #eb0000, 3em 13em 0 0 #649632, 4em 13em 0 0 #4b4b4b, 3em 14em 0 0 #4b4b4b, 2em 14em 0 0 #4b4b4b, 1em 14em 0 0 #4b4b4b, 0 14em 0 0 #aa782c, -1em 14em 0 0 #4b4b4b, -2em 14em 0 0 #4b4b4b, -3em 14em 0 0 #4b4b4b, -1em 15em 0 0 #4b4b4b, 0 15em 0 0 #4b4b4b, 1em 15em 0 0 #4b4b4b;
  }
  75% {
    box-shadow: 0 3em 0 0 #4b4b4b, 1em 4em 0 0 #4b4b4b, 0 4em 0 0 #649632, -1em 4em 0 0 #4b4b4b, -2em 5em 0 0 #4b4b4b, -1em 5em 0 0 #96cbcf, 0 5em 0 0 #649632, 1em 5em 0 0 #649632, 2em 5em 0 0 #4b4b4b, 3em 6em 0 0 #4b4b4b, 2em 6em 0 0 #649632, 1em 6em 0 0 #eb0000, 0 6em 0 0 #649632, -1em 6em 0 0 #649632, -2em 6em 0 0 #649632, -3em 6em 0 0 #4b4b4b, -2em 7em 0 0 #4b4b4b, -1em 7em 0 0 #649632, 0 7em 0 0 #2d8434, 1em 7em 0 0 #649632, 2em 7em 0 0 #4b4b4b, 3em 8em 0 0 #4b4b4b, 2em 8em 0 0 #649632, 1em 8em 0 0 #2d8434, 0 8em 0 0 #649632, -1em 8em 0 0 #2d8434, -2em 8em 0 0 #649632, -3em 8em 0 0 #4b4b4b, -4em 9em 0 0 #4b4b4b, -3em 9em 0 0 #649632, -2em 9em 0 0 #eb0000, -1em 9em 0 0 #649632, 0 9em 0 0 #649632, 1em 9em 0 0 #649632, 2em 9em 0 0 #96cbcf, 3em 9em 0 0 #649632, 4em 9em 0 0 #4b4b4b, 3em 10em 0 0 #4b4b4b, 2em 10em 0 0 #649632, 1em 10em 0 0 #2d8434, 0 10em 0 0 #649632, -1em 10em 0 0 #2d8434, -2em 10em 0 0 #649632, -3em 10em 0 0 #4b4b4b, -4em 11em 0 0 #4b4b4b, -3em 11em 0 0 #649632, -2em 11em 0 0 #2d8434, -1em 11em 0 0 #649632, 0 11em 0 0 #2d8434, 1em 11em 0 0 #649632, 2em 11em 0 0 #2d8434, 3em 11em 0 0 #649632, 4em 11em 0 0 #4b4b4b, 5em 12em 0 0 #4b4b4b, 4em 12em 0 0 #649632, 3em 12em 0 0 #649632, 2em 12em 0 0 #649632, 1em 12em 0 0 #649632, 0 12em 0 0 #649632, -1em 12em 0 0 #649632, -2em 12em 0 0 #649632, -3em 12em 0 0 #649632, -4em 12em 0 0 #649632, -5em 12em 0 0 #4b4b4b, -4em 13em 0 0 #4b4b4b, -3em 13em 0 0 #649632, -2em 13em 0 0 #649632, -1em 13em 0 0 #96cbcf, 0 13em 0 0 #649632, 1em 13em 0 0 #649632, 2em 13em 0 0 #eb0000, 3em 13em 0 0 #649632, 4em 13em 0 0 #4b4b4b, 3em 14em 0 0 #4b4b4b, 2em 14em 0 0 #4b4b4b, 1em 14em 0 0 #4b4b4b, 0 14em 0 0 #aa782c, -1em 14em 0 0 #4b4b4b, -2em 14em 0 0 #4b4b4b, -3em 14em 0 0 #4b4b4b, -1em 15em 0 0 #4b4b4b, 0 15em 0 0 #4b4b4b, 1em 15em 0 0 #4b4b4b;
  }
  100% {
    box-shadow: 0 3em 0 0 #4b4b4b, 1em 4em 0 0 #4b4b4b, 0 4em 0 0 #649632, -1em 4em 0 0 #4b4b4b, -2em 5em 0 0 #4b4b4b, -1em 5em 0 0 #96cbcf, 0 5em 0 0 #649632, 1em 5em 0 0 #649632, 2em 5em 0 0 #4b4b4b, 3em 6em 0 0 #4b4b4b, 2em 6em 0 0 #649632, 1em 6em 0 0 #eb0000, 0 6em 0 0 #649632, -1em 6em 0 0 #649632, -2em 6em 0 0 #649632, -3em 6em 0 0 #4b4b4b, -2em 7em 0 0 #4b4b4b, -1em 7em 0 0 #649632, 0 7em 0 0 #2d8434, 1em 7em 0 0 #649632, 2em 7em 0 0 #4b4b4b, 3em 8em 0 0 #4b4b4b, 2em 8em 0 0 #649632, 1em 8em 0 0 #2d8434, 0 8em 0 0 #649632, -1em 8em 0 0 #2d8434, -2em 8em 0 0 #649632, -3em 8em 0 0 #4b4b4b, -4em 9em 0 0 #4b4b4b, -3em 9em 0 0 #649632, -2em 9em 0 0 #eb0000, -1em 9em 0 0 #649632, 0 9em 0 0 #d8ba00, 1em 9em 0 0 #649632, 2em 9em 0 0 #96cbcf, 3em 9em 0 0 #649632, 4em 9em 0 0 #4b4b4b, 3em 10em 0 0 #4b4b4b, 2em 10em 0 0 #649632, 1em 10em 0 0 #2d8434, 0 10em 0 0 #649632, -1em 10em 0 0 #2d8434, -2em 10em 0 0 #649632, -3em 10em 0 0 #4b4b4b, -4em 11em 0 0 #4b4b4b, -3em 11em 0 0 #649632, -2em 11em 0 0 #2d8434, -1em 11em 0 0 #649632, 0 11em 0 0 #2d8434, 1em 11em 0 0 #649632, 2em 11em 0 0 #2d8434, 3em 11em 0 0 #d8ba00, 4em 11em 0 0 #4b4b4b, 5em 12em 0 0 #4b4b4b, 4em 12em 0 0 #649632, 3em 12em 0 0 #649632, 2em 12em 0 0 #649632, 1em 12em 0 0 #649632, 0 12em 0 0 #649632, -1em 12em 0 0 #649632, -2em 12em 0 0 #649632, -3em 12em 0 0 #649632, -4em 12em 0 0 #649632, -5em 12em 0 0 #4b4b4b, -4em 13em 0 0 #4b4b4b, -3em 13em 0 0 #d8ba00, -2em 13em 0 0 #649632, -1em 13em 0 0 #96cbcf, 0 13em 0 0 #649632, 1em 13em 0 0 #649632, 2em 13em 0 0 #eb0000, 3em 13em 0 0 #649632, 4em 13em 0 0 #4b4b4b, 3em 14em 0 0 #4b4b4b, 2em 14em 0 0 #4b4b4b, 1em 14em 0 0 #4b4b4b, 0 14em 0 0 #aa782c, -1em 14em 0 0 #4b4b4b, -2em 14em 0 0 #4b4b4b, -3em 14em 0 0 #4b4b4b, -1em 15em 0 0 #4b4b4b, 0 15em 0 0 #4b4b4b, 1em 15em 0 0 #4b4b4b;
  }
}
@-moz-keyframes xmasTree {
  25% {
    box-shadow: 0 3em 0 0 #4b4b4b, 1em 4em 0 0 #4b4b4b, 0 4em 0 0 #649632, -1em 4em 0 0 #4b4b4b, -2em 5em 0 0 #4b4b4b, -1em 5em 0 0 #96cbcf, 0 5em 0 0 #649632, 1em 5em 0 0 #649632, 2em 5em 0 0 #4b4b4b, 3em 6em 0 0 #4b4b4b, 2em 6em 0 0 #649632, 1em 6em 0 0 #649632, 0 6em 0 0 #649632, -1em 6em 0 0 #649632, -2em 6em 0 0 #649632, -3em 6em 0 0 #4b4b4b, -2em 7em 0 0 #4b4b4b, -1em 7em 0 0 #649632, 0 7em 0 0 #2d8434, 1em 7em 0 0 #649632, 2em 7em 0 0 #4b4b4b, 3em 8em 0 0 #4b4b4b, 2em 8em 0 0 #649632, 1em 8em 0 0 #2d8434, 0 8em 0 0 #649632, -1em 8em 0 0 #2d8434, -2em 8em 0 0 #649632, -3em 8em 0 0 #4b4b4b, -4em 9em 0 0 #4b4b4b, -3em 9em 0 0 #649632, -2em 9em 0 0 #649632, -1em 9em 0 0 #649632, 0 9em 0 0 #d8ba00, 1em 9em 0 0 #649632, 2em 9em 0 0 #96cbcf, 3em 9em 0 0 #649632, 4em 9em 0 0 #4b4b4b, 3em 10em 0 0 #4b4b4b, 2em 10em 0 0 #649632, 1em 10em 0 0 #2d8434, 0 10em 0 0 #649632, -1em 10em 0 0 #2d8434, -2em 10em 0 0 #649632, -3em 10em 0 0 #4b4b4b, -4em 11em 0 0 #4b4b4b, -3em 11em 0 0 #649632, -2em 11em 0 0 #2d8434, -1em 11em 0 0 #649632, 0 11em 0 0 #2d8434, 1em 11em 0 0 #649632, 2em 11em 0 0 #2d8434, 3em 11em 0 0 #d8ba00, 4em 11em 0 0 #4b4b4b, 5em 12em 0 0 #4b4b4b, 4em 12em 0 0 #649632, 3em 12em 0 0 #649632, 2em 12em 0 0 #649632, 1em 12em 0 0 #649632, 0 12em 0 0 #649632, -1em 12em 0 0 #649632, -2em 12em 0 0 #649632, -3em 12em 0 0 #649632, -4em 12em 0 0 #649632, -5em 12em 0 0 #4b4b4b, -4em 13em 0 0 #4b4b4b, -3em 13em 0 0 #d8ba00, -2em 13em 0 0 #649632, -1em 13em 0 0 #96cbcf, 0 13em 0 0 #649632, 1em 13em 0 0 #649632, 2em 13em 0 0 #649632, 3em 13em 0 0 #649632, 4em 13em 0 0 #4b4b4b, 3em 14em 0 0 #4b4b4b, 2em 14em 0 0 #4b4b4b, 1em 14em 0 0 #4b4b4b, 0 14em 0 0 #aa782c, -1em 14em 0 0 #4b4b4b, -2em 14em 0 0 #4b4b4b, -3em 14em 0 0 #4b4b4b, -1em 15em 0 0 #4b4b4b, 0 15em 0 0 #4b4b4b, 1em 15em 0 0 #4b4b4b;
  }
  50% {
    box-shadow: 0 3em 0 0 #4b4b4b, 1em 4em 0 0 #4b4b4b, 0 4em 0 0 #649632, -1em 4em 0 0 #4b4b4b, -2em 5em 0 0 #4b4b4b, -1em 5em 0 0 #649632, 0 5em 0 0 #649632, 1em 5em 0 0 #649632, 2em 5em 0 0 #4b4b4b, 3em 6em 0 0 #4b4b4b, 2em 6em 0 0 #649632, 1em 6em 0 0 #eb0000, 0 6em 0 0 #649632, -1em 6em 0 0 #649632, -2em 6em 0 0 #649632, -3em 6em 0 0 #4b4b4b, -2em 7em 0 0 #4b4b4b, -1em 7em 0 0 #649632, 0 7em 0 0 #2d8434, 1em 7em 0 0 #649632, 2em 7em 0 0 #4b4b4b, 3em 8em 0 0 #4b4b4b, 2em 8em 0 0 #649632, 1em 8em 0 0 #2d8434, 0 8em 0 0 #649632, -1em 8em 0 0 #2d8434, -2em 8em 0 0 #649632, -3em 8em 0 0 #4b4b4b, -4em 9em 0 0 #4b4b4b, -3em 9em 0 0 #649632, -2em 9em 0 0 #eb0000, -1em 9em 0 0 #649632, 0 9em 0 0 #d8ba00, 1em 9em 0 0 #649632, 2em 9em 0 0 #649632, 3em 9em 0 0 #649632, 4em 9em 0 0 #4b4b4b, 3em 10em 0 0 #4b4b4b, 2em 10em 0 0 #649632, 1em 10em 0 0 #2d8434, 0 10em 0 0 #649632, -1em 10em 0 0 #2d8434, -2em 10em 0 0 #649632, -3em 10em 0 0 #4b4b4b, -4em 11em 0 0 #4b4b4b, -3em 11em 0 0 #649632, -2em 11em 0 0 #2d8434, -1em 11em 0 0 #649632, 0 11em 0 0 #2d8434, 1em 11em 0 0 #649632, 2em 11em 0 0 #2d8434, 3em 11em 0 0 #d8ba00, 4em 11em 0 0 #4b4b4b, 5em 12em 0 0 #4b4b4b, 4em 12em 0 0 #649632, 3em 12em 0 0 #649632, 2em 12em 0 0 #649632, 1em 12em 0 0 #649632, 0 12em 0 0 #649632, -1em 12em 0 0 #649632, -2em 12em 0 0 #649632, -3em 12em 0 0 #649632, -4em 12em 0 0 #649632, -5em 12em 0 0 #4b4b4b, -4em 13em 0 0 #4b4b4b, -3em 13em 0 0 #d8ba00, -2em 13em 0 0 #649632, -1em 13em 0 0 #649632, 0 13em 0 0 #649632, 1em 13em 0 0 #649632, 2em 13em 0 0 #eb0000, 3em 13em 0 0 #649632, 4em 13em 0 0 #4b4b4b, 3em 14em 0 0 #4b4b4b, 2em 14em 0 0 #4b4b4b, 1em 14em 0 0 #4b4b4b, 0 14em 0 0 #aa782c, -1em 14em 0 0 #4b4b4b, -2em 14em 0 0 #4b4b4b, -3em 14em 0 0 #4b4b4b, -1em 15em 0 0 #4b4b4b, 0 15em 0 0 #4b4b4b, 1em 15em 0 0 #4b4b4b;
  }
  75% {
    box-shadow: 0 3em 0 0 #4b4b4b, 1em 4em 0 0 #4b4b4b, 0 4em 0 0 #649632, -1em 4em 0 0 #4b4b4b, -2em 5em 0 0 #4b4b4b, -1em 5em 0 0 #96cbcf, 0 5em 0 0 #649632, 1em 5em 0 0 #649632, 2em 5em 0 0 #4b4b4b, 3em 6em 0 0 #4b4b4b, 2em 6em 0 0 #649632, 1em 6em 0 0 #eb0000, 0 6em 0 0 #649632, -1em 6em 0 0 #649632, -2em 6em 0 0 #649632, -3em 6em 0 0 #4b4b4b, -2em 7em 0 0 #4b4b4b, -1em 7em 0 0 #649632, 0 7em 0 0 #2d8434, 1em 7em 0 0 #649632, 2em 7em 0 0 #4b4b4b, 3em 8em 0 0 #4b4b4b, 2em 8em 0 0 #649632, 1em 8em 0 0 #2d8434, 0 8em 0 0 #649632, -1em 8em 0 0 #2d8434, -2em 8em 0 0 #649632, -3em 8em 0 0 #4b4b4b, -4em 9em 0 0 #4b4b4b, -3em 9em 0 0 #649632, -2em 9em 0 0 #eb0000, -1em 9em 0 0 #649632, 0 9em 0 0 #649632, 1em 9em 0 0 #649632, 2em 9em 0 0 #96cbcf, 3em 9em 0 0 #649632, 4em 9em 0 0 #4b4b4b, 3em 10em 0 0 #4b4b4b, 2em 10em 0 0 #649632, 1em 10em 0 0 #2d8434, 0 10em 0 0 #649632, -1em 10em 0 0 #2d8434, -2em 10em 0 0 #649632, -3em 10em 0 0 #4b4b4b, -4em 11em 0 0 #4b4b4b, -3em 11em 0 0 #649632, -2em 11em 0 0 #2d8434, -1em 11em 0 0 #649632, 0 11em 0 0 #2d8434, 1em 11em 0 0 #649632, 2em 11em 0 0 #2d8434, 3em 11em 0 0 #649632, 4em 11em 0 0 #4b4b4b, 5em 12em 0 0 #4b4b4b, 4em 12em 0 0 #649632, 3em 12em 0 0 #649632, 2em 12em 0 0 #649632, 1em 12em 0 0 #649632, 0 12em 0 0 #649632, -1em 12em 0 0 #649632, -2em 12em 0 0 #649632, -3em 12em 0 0 #649632, -4em 12em 0 0 #649632, -5em 12em 0 0 #4b4b4b, -4em 13em 0 0 #4b4b4b, -3em 13em 0 0 #649632, -2em 13em 0 0 #649632, -1em 13em 0 0 #96cbcf, 0 13em 0 0 #649632, 1em 13em 0 0 #649632, 2em 13em 0 0 #eb0000, 3em 13em 0 0 #649632, 4em 13em 0 0 #4b4b4b, 3em 14em 0 0 #4b4b4b, 2em 14em 0 0 #4b4b4b, 1em 14em 0 0 #4b4b4b, 0 14em 0 0 #aa782c, -1em 14em 0 0 #4b4b4b, -2em 14em 0 0 #4b4b4b, -3em 14em 0 0 #4b4b4b, -1em 15em 0 0 #4b4b4b, 0 15em 0 0 #4b4b4b, 1em 15em 0 0 #4b4b4b;
  }
  100% {
    box-shadow: 0 3em 0 0 #4b4b4b, 1em 4em 0 0 #4b4b4b, 0 4em 0 0 #649632, -1em 4em 0 0 #4b4b4b, -2em 5em 0 0 #4b4b4b, -1em 5em 0 0 #96cbcf, 0 5em 0 0 #649632, 1em 5em 0 0 #649632, 2em 5em 0 0 #4b4b4b, 3em 6em 0 0 #4b4b4b, 2em 6em 0 0 #649632, 1em 6em 0 0 #eb0000, 0 6em 0 0 #649632, -1em 6em 0 0 #649632, -2em 6em 0 0 #649632, -3em 6em 0 0 #4b4b4b, -2em 7em 0 0 #4b4b4b, -1em 7em 0 0 #649632, 0 7em 0 0 #2d8434, 1em 7em 0 0 #649632, 2em 7em 0 0 #4b4b4b, 3em 8em 0 0 #4b4b4b, 2em 8em 0 0 #649632, 1em 8em 0 0 #2d8434, 0 8em 0 0 #649632, -1em 8em 0 0 #2d8434, -2em 8em 0 0 #649632, -3em 8em 0 0 #4b4b4b, -4em 9em 0 0 #4b4b4b, -3em 9em 0 0 #649632, -2em 9em 0 0 #eb0000, -1em 9em 0 0 #649632, 0 9em 0 0 #d8ba00, 1em 9em 0 0 #649632, 2em 9em 0 0 #96cbcf, 3em 9em 0 0 #649632, 4em 9em 0 0 #4b4b4b, 3em 10em 0 0 #4b4b4b, 2em 10em 0 0 #649632, 1em 10em 0 0 #2d8434, 0 10em 0 0 #649632, -1em 10em 0 0 #2d8434, -2em 10em 0 0 #649632, -3em 10em 0 0 #4b4b4b, -4em 11em 0 0 #4b4b4b, -3em 11em 0 0 #649632, -2em 11em 0 0 #2d8434, -1em 11em 0 0 #649632, 0 11em 0 0 #2d8434, 1em 11em 0 0 #649632, 2em 11em 0 0 #2d8434, 3em 11em 0 0 #d8ba00, 4em 11em 0 0 #4b4b4b, 5em 12em 0 0 #4b4b4b, 4em 12em 0 0 #649632, 3em 12em 0 0 #649632, 2em 12em 0 0 #649632, 1em 12em 0 0 #649632, 0 12em 0 0 #649632, -1em 12em 0 0 #649632, -2em 12em 0 0 #649632, -3em 12em 0 0 #649632, -4em 12em 0 0 #649632, -5em 12em 0 0 #4b4b4b, -4em 13em 0 0 #4b4b4b, -3em 13em 0 0 #d8ba00, -2em 13em 0 0 #649632, -1em 13em 0 0 #96cbcf, 0 13em 0 0 #649632, 1em 13em 0 0 #649632, 2em 13em 0 0 #eb0000, 3em 13em 0 0 #649632, 4em 13em 0 0 #4b4b4b, 3em 14em 0 0 #4b4b4b, 2em 14em 0 0 #4b4b4b, 1em 14em 0 0 #4b4b4b, 0 14em 0 0 #aa782c, -1em 14em 0 0 #4b4b4b, -2em 14em 0 0 #4b4b4b, -3em 14em 0 0 #4b4b4b, -1em 15em 0 0 #4b4b4b, 0 15em 0 0 #4b4b4b, 1em 15em 0 0 #4b4b4b;
  }
}
@-ms-keyframes xmasTree {
  25% {
    box-shadow: 0 3em 0 0 #4b4b4b, 1em 4em 0 0 #4b4b4b, 0 4em 0 0 #649632, -1em 4em 0 0 #4b4b4b, -2em 5em 0 0 #4b4b4b, -1em 5em 0 0 #96cbcf, 0 5em 0 0 #649632, 1em 5em 0 0 #649632, 2em 5em 0 0 #4b4b4b, 3em 6em 0 0 #4b4b4b, 2em 6em 0 0 #649632, 1em 6em 0 0 #649632, 0 6em 0 0 #649632, -1em 6em 0 0 #649632, -2em 6em 0 0 #649632, -3em 6em 0 0 #4b4b4b, -2em 7em 0 0 #4b4b4b, -1em 7em 0 0 #649632, 0 7em 0 0 #2d8434, 1em 7em 0 0 #649632, 2em 7em 0 0 #4b4b4b, 3em 8em 0 0 #4b4b4b, 2em 8em 0 0 #649632, 1em 8em 0 0 #2d8434, 0 8em 0 0 #649632, -1em 8em 0 0 #2d8434, -2em 8em 0 0 #649632, -3em 8em 0 0 #4b4b4b, -4em 9em 0 0 #4b4b4b, -3em 9em 0 0 #649632, -2em 9em 0 0 #649632, -1em 9em 0 0 #649632, 0 9em 0 0 #d8ba00, 1em 9em 0 0 #649632, 2em 9em 0 0 #96cbcf, 3em 9em 0 0 #649632, 4em 9em 0 0 #4b4b4b, 3em 10em 0 0 #4b4b4b, 2em 10em 0 0 #649632, 1em 10em 0 0 #2d8434, 0 10em 0 0 #649632, -1em 10em 0 0 #2d8434, -2em 10em 0 0 #649632, -3em 10em 0 0 #4b4b4b, -4em 11em 0 0 #4b4b4b, -3em 11em 0 0 #649632, -2em 11em 0 0 #2d8434, -1em 11em 0 0 #649632, 0 11em 0 0 #2d8434, 1em 11em 0 0 #649632, 2em 11em 0 0 #2d8434, 3em 11em 0 0 #d8ba00, 4em 11em 0 0 #4b4b4b, 5em 12em 0 0 #4b4b4b, 4em 12em 0 0 #649632, 3em 12em 0 0 #649632, 2em 12em 0 0 #649632, 1em 12em 0 0 #649632, 0 12em 0 0 #649632, -1em 12em 0 0 #649632, -2em 12em 0 0 #649632, -3em 12em 0 0 #649632, -4em 12em 0 0 #649632, -5em 12em 0 0 #4b4b4b, -4em 13em 0 0 #4b4b4b, -3em 13em 0 0 #d8ba00, -2em 13em 0 0 #649632, -1em 13em 0 0 #96cbcf, 0 13em 0 0 #649632, 1em 13em 0 0 #649632, 2em 13em 0 0 #649632, 3em 13em 0 0 #649632, 4em 13em 0 0 #4b4b4b, 3em 14em 0 0 #4b4b4b, 2em 14em 0 0 #4b4b4b, 1em 14em 0 0 #4b4b4b, 0 14em 0 0 #aa782c, -1em 14em 0 0 #4b4b4b, -2em 14em 0 0 #4b4b4b, -3em 14em 0 0 #4b4b4b, -1em 15em 0 0 #4b4b4b, 0 15em 0 0 #4b4b4b, 1em 15em 0 0 #4b4b4b;
  }
  50% {
    box-shadow: 0 3em 0 0 #4b4b4b, 1em 4em 0 0 #4b4b4b, 0 4em 0 0 #649632, -1em 4em 0 0 #4b4b4b, -2em 5em 0 0 #4b4b4b, -1em 5em 0 0 #649632, 0 5em 0 0 #649632, 1em 5em 0 0 #649632, 2em 5em 0 0 #4b4b4b, 3em 6em 0 0 #4b4b4b, 2em 6em 0 0 #649632, 1em 6em 0 0 #eb0000, 0 6em 0 0 #649632, -1em 6em 0 0 #649632, -2em 6em 0 0 #649632, -3em 6em 0 0 #4b4b4b, -2em 7em 0 0 #4b4b4b, -1em 7em 0 0 #649632, 0 7em 0 0 #2d8434, 1em 7em 0 0 #649632, 2em 7em 0 0 #4b4b4b, 3em 8em 0 0 #4b4b4b, 2em 8em 0 0 #649632, 1em 8em 0 0 #2d8434, 0 8em 0 0 #649632, -1em 8em 0 0 #2d8434, -2em 8em 0 0 #649632, -3em 8em 0 0 #4b4b4b, -4em 9em 0 0 #4b4b4b, -3em 9em 0 0 #649632, -2em 9em 0 0 #eb0000, -1em 9em 0 0 #649632, 0 9em 0 0 #d8ba00, 1em 9em 0 0 #649632, 2em 9em 0 0 #649632, 3em 9em 0 0 #649632, 4em 9em 0 0 #4b4b4b, 3em 10em 0 0 #4b4b4b, 2em 10em 0 0 #649632, 1em 10em 0 0 #2d8434, 0 10em 0 0 #649632, -1em 10em 0 0 #2d8434, -2em 10em 0 0 #649632, -3em 10em 0 0 #4b4b4b, -4em 11em 0 0 #4b4b4b, -3em 11em 0 0 #649632, -2em 11em 0 0 #2d8434, -1em 11em 0 0 #649632, 0 11em 0 0 #2d8434, 1em 11em 0 0 #649632, 2em 11em 0 0 #2d8434, 3em 11em 0 0 #d8ba00, 4em 11em 0 0 #4b4b4b, 5em 12em 0 0 #4b4b4b, 4em 12em 0 0 #649632, 3em 12em 0 0 #649632, 2em 12em 0 0 #649632, 1em 12em 0 0 #649632, 0 12em 0 0 #649632, -1em 12em 0 0 #649632, -2em 12em 0 0 #649632, -3em 12em 0 0 #649632, -4em 12em 0 0 #649632, -5em 12em 0 0 #4b4b4b, -4em 13em 0 0 #4b4b4b, -3em 13em 0 0 #d8ba00, -2em 13em 0 0 #649632, -1em 13em 0 0 #649632, 0 13em 0 0 #649632, 1em 13em 0 0 #649632, 2em 13em 0 0 #eb0000, 3em 13em 0 0 #649632, 4em 13em 0 0 #4b4b4b, 3em 14em 0 0 #4b4b4b, 2em 14em 0 0 #4b4b4b, 1em 14em 0 0 #4b4b4b, 0 14em 0 0 #aa782c, -1em 14em 0 0 #4b4b4b, -2em 14em 0 0 #4b4b4b, -3em 14em 0 0 #4b4b4b, -1em 15em 0 0 #4b4b4b, 0 15em 0 0 #4b4b4b, 1em 15em 0 0 #4b4b4b;
  }
  75% {
    box-shadow: 0 3em 0 0 #4b4b4b, 1em 4em 0 0 #4b4b4b, 0 4em 0 0 #649632, -1em 4em 0 0 #4b4b4b, -2em 5em 0 0 #4b4b4b, -1em 5em 0 0 #96cbcf, 0 5em 0 0 #649632, 1em 5em 0 0 #649632, 2em 5em 0 0 #4b4b4b, 3em 6em 0 0 #4b4b4b, 2em 6em 0 0 #649632, 1em 6em 0 0 #eb0000, 0 6em 0 0 #649632, -1em 6em 0 0 #649632, -2em 6em 0 0 #649632, -3em 6em 0 0 #4b4b4b, -2em 7em 0 0 #4b4b4b, -1em 7em 0 0 #649632, 0 7em 0 0 #2d8434, 1em 7em 0 0 #649632, 2em 7em 0 0 #4b4b4b, 3em 8em 0 0 #4b4b4b, 2em 8em 0 0 #649632, 1em 8em 0 0 #2d8434, 0 8em 0 0 #649632, -1em 8em 0 0 #2d8434, -2em 8em 0 0 #649632, -3em 8em 0 0 #4b4b4b, -4em 9em 0 0 #4b4b4b, -3em 9em 0 0 #649632, -2em 9em 0 0 #eb0000, -1em 9em 0 0 #649632, 0 9em 0 0 #649632, 1em 9em 0 0 #649632, 2em 9em 0 0 #96cbcf, 3em 9em 0 0 #649632, 4em 9em 0 0 #4b4b4b, 3em 10em 0 0 #4b4b4b, 2em 10em 0 0 #649632, 1em 10em 0 0 #2d8434, 0 10em 0 0 #649632, -1em 10em 0 0 #2d8434, -2em 10em 0 0 #649632, -3em 10em 0 0 #4b4b4b, -4em 11em 0 0 #4b4b4b, -3em 11em 0 0 #649632, -2em 11em 0 0 #2d8434, -1em 11em 0 0 #649632, 0 11em 0 0 #2d8434, 1em 11em 0 0 #649632, 2em 11em 0 0 #2d8434, 3em 11em 0 0 #649632, 4em 11em 0 0 #4b4b4b, 5em 12em 0 0 #4b4b4b, 4em 12em 0 0 #649632, 3em 12em 0 0 #649632, 2em 12em 0 0 #649632, 1em 12em 0 0 #649632, 0 12em 0 0 #649632, -1em 12em 0 0 #649632, -2em 12em 0 0 #649632, -3em 12em 0 0 #649632, -4em 12em 0 0 #649632, -5em 12em 0 0 #4b4b4b, -4em 13em 0 0 #4b4b4b, -3em 13em 0 0 #649632, -2em 13em 0 0 #649632, -1em 13em 0 0 #96cbcf, 0 13em 0 0 #649632, 1em 13em 0 0 #649632, 2em 13em 0 0 #eb0000, 3em 13em 0 0 #649632, 4em 13em 0 0 #4b4b4b, 3em 14em 0 0 #4b4b4b, 2em 14em 0 0 #4b4b4b, 1em 14em 0 0 #4b4b4b, 0 14em 0 0 #aa782c, -1em 14em 0 0 #4b4b4b, -2em 14em 0 0 #4b4b4b, -3em 14em 0 0 #4b4b4b, -1em 15em 0 0 #4b4b4b, 0 15em 0 0 #4b4b4b, 1em 15em 0 0 #4b4b4b;
  }
  100% {
    box-shadow: 0 3em 0 0 #4b4b4b, 1em 4em 0 0 #4b4b4b, 0 4em 0 0 #649632, -1em 4em 0 0 #4b4b4b, -2em 5em 0 0 #4b4b4b, -1em 5em 0 0 #96cbcf, 0 5em 0 0 #649632, 1em 5em 0 0 #649632, 2em 5em 0 0 #4b4b4b, 3em 6em 0 0 #4b4b4b, 2em 6em 0 0 #649632, 1em 6em 0 0 #eb0000, 0 6em 0 0 #649632, -1em 6em 0 0 #649632, -2em 6em 0 0 #649632, -3em 6em 0 0 #4b4b4b, -2em 7em 0 0 #4b4b4b, -1em 7em 0 0 #649632, 0 7em 0 0 #2d8434, 1em 7em 0 0 #649632, 2em 7em 0 0 #4b4b4b, 3em 8em 0 0 #4b4b4b, 2em 8em 0 0 #649632, 1em 8em 0 0 #2d8434, 0 8em 0 0 #649632, -1em 8em 0 0 #2d8434, -2em 8em 0 0 #649632, -3em 8em 0 0 #4b4b4b, -4em 9em 0 0 #4b4b4b, -3em 9em 0 0 #649632, -2em 9em 0 0 #eb0000, -1em 9em 0 0 #649632, 0 9em 0 0 #d8ba00, 1em 9em 0 0 #649632, 2em 9em 0 0 #96cbcf, 3em 9em 0 0 #649632, 4em 9em 0 0 #4b4b4b, 3em 10em 0 0 #4b4b4b, 2em 10em 0 0 #649632, 1em 10em 0 0 #2d8434, 0 10em 0 0 #649632, -1em 10em 0 0 #2d8434, -2em 10em 0 0 #649632, -3em 10em 0 0 #4b4b4b, -4em 11em 0 0 #4b4b4b, -3em 11em 0 0 #649632, -2em 11em 0 0 #2d8434, -1em 11em 0 0 #649632, 0 11em 0 0 #2d8434, 1em 11em 0 0 #649632, 2em 11em 0 0 #2d8434, 3em 11em 0 0 #d8ba00, 4em 11em 0 0 #4b4b4b, 5em 12em 0 0 #4b4b4b, 4em 12em 0 0 #649632, 3em 12em 0 0 #649632, 2em 12em 0 0 #649632, 1em 12em 0 0 #649632, 0 12em 0 0 #649632, -1em 12em 0 0 #649632, -2em 12em 0 0 #649632, -3em 12em 0 0 #649632, -4em 12em 0 0 #649632, -5em 12em 0 0 #4b4b4b, -4em 13em 0 0 #4b4b4b, -3em 13em 0 0 #d8ba00, -2em 13em 0 0 #649632, -1em 13em 0 0 #96cbcf, 0 13em 0 0 #649632, 1em 13em 0 0 #649632, 2em 13em 0 0 #eb0000, 3em 13em 0 0 #649632, 4em 13em 0 0 #4b4b4b, 3em 14em 0 0 #4b4b4b, 2em 14em 0 0 #4b4b4b, 1em 14em 0 0 #4b4b4b, 0 14em 0 0 #aa782c, -1em 14em 0 0 #4b4b4b, -2em 14em 0 0 #4b4b4b, -3em 14em 0 0 #4b4b4b, -1em 15em 0 0 #4b4b4b, 0 15em 0 0 #4b4b4b, 1em 15em 0 0 #4b4b4b;
  }
}
@keyframes xmasTree {
  25% {
    box-shadow: 0 3em 0 0 #4b4b4b, 1em 4em 0 0 #4b4b4b, 0 4em 0 0 #649632, -1em 4em 0 0 #4b4b4b, -2em 5em 0 0 #4b4b4b, -1em 5em 0 0 #96cbcf, 0 5em 0 0 #649632, 1em 5em 0 0 #649632, 2em 5em 0 0 #4b4b4b, 3em 6em 0 0 #4b4b4b, 2em 6em 0 0 #649632, 1em 6em 0 0 #649632, 0 6em 0 0 #649632, -1em 6em 0 0 #649632, -2em 6em 0 0 #649632, -3em 6em 0 0 #4b4b4b, -2em 7em 0 0 #4b4b4b, -1em 7em 0 0 #649632, 0 7em 0 0 #2d8434, 1em 7em 0 0 #649632, 2em 7em 0 0 #4b4b4b, 3em 8em 0 0 #4b4b4b, 2em 8em 0 0 #649632, 1em 8em 0 0 #2d8434, 0 8em 0 0 #649632, -1em 8em 0 0 #2d8434, -2em 8em 0 0 #649632, -3em 8em 0 0 #4b4b4b, -4em 9em 0 0 #4b4b4b, -3em 9em 0 0 #649632, -2em 9em 0 0 #649632, -1em 9em 0 0 #649632, 0 9em 0 0 #d8ba00, 1em 9em 0 0 #649632, 2em 9em 0 0 #96cbcf, 3em 9em 0 0 #649632, 4em 9em 0 0 #4b4b4b, 3em 10em 0 0 #4b4b4b, 2em 10em 0 0 #649632, 1em 10em 0 0 #2d8434, 0 10em 0 0 #649632, -1em 10em 0 0 #2d8434, -2em 10em 0 0 #649632, -3em 10em 0 0 #4b4b4b, -4em 11em 0 0 #4b4b4b, -3em 11em 0 0 #649632, -2em 11em 0 0 #2d8434, -1em 11em 0 0 #649632, 0 11em 0 0 #2d8434, 1em 11em 0 0 #649632, 2em 11em 0 0 #2d8434, 3em 11em 0 0 #d8ba00, 4em 11em 0 0 #4b4b4b, 5em 12em 0 0 #4b4b4b, 4em 12em 0 0 #649632, 3em 12em 0 0 #649632, 2em 12em 0 0 #649632, 1em 12em 0 0 #649632, 0 12em 0 0 #649632, -1em 12em 0 0 #649632, -2em 12em 0 0 #649632, -3em 12em 0 0 #649632, -4em 12em 0 0 #649632, -5em 12em 0 0 #4b4b4b, -4em 13em 0 0 #4b4b4b, -3em 13em 0 0 #d8ba00, -2em 13em 0 0 #649632, -1em 13em 0 0 #96cbcf, 0 13em 0 0 #649632, 1em 13em 0 0 #649632, 2em 13em 0 0 #649632, 3em 13em 0 0 #649632, 4em 13em 0 0 #4b4b4b, 3em 14em 0 0 #4b4b4b, 2em 14em 0 0 #4b4b4b, 1em 14em 0 0 #4b4b4b, 0 14em 0 0 #aa782c, -1em 14em 0 0 #4b4b4b, -2em 14em 0 0 #4b4b4b, -3em 14em 0 0 #4b4b4b, -1em 15em 0 0 #4b4b4b, 0 15em 0 0 #4b4b4b, 1em 15em 0 0 #4b4b4b;
  }
  50% {
    box-shadow: 0 3em 0 0 #4b4b4b, 1em 4em 0 0 #4b4b4b, 0 4em 0 0 #649632, -1em 4em 0 0 #4b4b4b, -2em 5em 0 0 #4b4b4b, -1em 5em 0 0 #649632, 0 5em 0 0 #649632, 1em 5em 0 0 #649632, 2em 5em 0 0 #4b4b4b, 3em 6em 0 0 #4b4b4b, 2em 6em 0 0 #649632, 1em 6em 0 0 #eb0000, 0 6em 0 0 #649632, -1em 6em 0 0 #649632, -2em 6em 0 0 #649632, -3em 6em 0 0 #4b4b4b, -2em 7em 0 0 #4b4b4b, -1em 7em 0 0 #649632, 0 7em 0 0 #2d8434, 1em 7em 0 0 #649632, 2em 7em 0 0 #4b4b4b, 3em 8em 0 0 #4b4b4b, 2em 8em 0 0 #649632, 1em 8em 0 0 #2d8434, 0 8em 0 0 #649632, -1em 8em 0 0 #2d8434, -2em 8em 0 0 #649632, -3em 8em 0 0 #4b4b4b, -4em 9em 0 0 #4b4b4b, -3em 9em 0 0 #649632, -2em 9em 0 0 #eb0000, -1em 9em 0 0 #649632, 0 9em 0 0 #d8ba00, 1em 9em 0 0 #649632, 2em 9em 0 0 #649632, 3em 9em 0 0 #649632, 4em 9em 0 0 #4b4b4b, 3em 10em 0 0 #4b4b4b, 2em 10em 0 0 #649632, 1em 10em 0 0 #2d8434, 0 10em 0 0 #649632, -1em 10em 0 0 #2d8434, -2em 10em 0 0 #649632, -3em 10em 0 0 #4b4b4b, -4em 11em 0 0 #4b4b4b, -3em 11em 0 0 #649632, -2em 11em 0 0 #2d8434, -1em 11em 0 0 #649632, 0 11em 0 0 #2d8434, 1em 11em 0 0 #649632, 2em 11em 0 0 #2d8434, 3em 11em 0 0 #d8ba00, 4em 11em 0 0 #4b4b4b, 5em 12em 0 0 #4b4b4b, 4em 12em 0 0 #649632, 3em 12em 0 0 #649632, 2em 12em 0 0 #649632, 1em 12em 0 0 #649632, 0 12em 0 0 #649632, -1em 12em 0 0 #649632, -2em 12em 0 0 #649632, -3em 12em 0 0 #649632, -4em 12em 0 0 #649632, -5em 12em 0 0 #4b4b4b, -4em 13em 0 0 #4b4b4b, -3em 13em 0 0 #d8ba00, -2em 13em 0 0 #649632, -1em 13em 0 0 #649632, 0 13em 0 0 #649632, 1em 13em 0 0 #649632, 2em 13em 0 0 #eb0000, 3em 13em 0 0 #649632, 4em 13em 0 0 #4b4b4b, 3em 14em 0 0 #4b4b4b, 2em 14em 0 0 #4b4b4b, 1em 14em 0 0 #4b4b4b, 0 14em 0 0 #aa782c, -1em 14em 0 0 #4b4b4b, -2em 14em 0 0 #4b4b4b, -3em 14em 0 0 #4b4b4b, -1em 15em 0 0 #4b4b4b, 0 15em 0 0 #4b4b4b, 1em 15em 0 0 #4b4b4b;
  }
  75% {
    box-shadow: 0 3em 0 0 #4b4b4b, 1em 4em 0 0 #4b4b4b, 0 4em 0 0 #649632, -1em 4em 0 0 #4b4b4b, -2em 5em 0 0 #4b4b4b, -1em 5em 0 0 #96cbcf, 0 5em 0 0 #649632, 1em 5em 0 0 #649632, 2em 5em 0 0 #4b4b4b, 3em 6em 0 0 #4b4b4b, 2em 6em 0 0 #649632, 1em 6em 0 0 #eb0000, 0 6em 0 0 #649632, -1em 6em 0 0 #649632, -2em 6em 0 0 #649632, -3em 6em 0 0 #4b4b4b, -2em 7em 0 0 #4b4b4b, -1em 7em 0 0 #649632, 0 7em 0 0 #2d8434, 1em 7em 0 0 #649632, 2em 7em 0 0 #4b4b4b, 3em 8em 0 0 #4b4b4b, 2em 8em 0 0 #649632, 1em 8em 0 0 #2d8434, 0 8em 0 0 #649632, -1em 8em 0 0 #2d8434, -2em 8em 0 0 #649632, -3em 8em 0 0 #4b4b4b, -4em 9em 0 0 #4b4b4b, -3em 9em 0 0 #649632, -2em 9em 0 0 #eb0000, -1em 9em 0 0 #649632, 0 9em 0 0 #649632, 1em 9em 0 0 #649632, 2em 9em 0 0 #96cbcf, 3em 9em 0 0 #649632, 4em 9em 0 0 #4b4b4b, 3em 10em 0 0 #4b4b4b, 2em 10em 0 0 #649632, 1em 10em 0 0 #2d8434, 0 10em 0 0 #649632, -1em 10em 0 0 #2d8434, -2em 10em 0 0 #649632, -3em 10em 0 0 #4b4b4b, -4em 11em 0 0 #4b4b4b, -3em 11em 0 0 #649632, -2em 11em 0 0 #2d8434, -1em 11em 0 0 #649632, 0 11em 0 0 #2d8434, 1em 11em 0 0 #649632, 2em 11em 0 0 #2d8434, 3em 11em 0 0 #649632, 4em 11em 0 0 #4b4b4b, 5em 12em 0 0 #4b4b4b, 4em 12em 0 0 #649632, 3em 12em 0 0 #649632, 2em 12em 0 0 #649632, 1em 12em 0 0 #649632, 0 12em 0 0 #649632, -1em 12em 0 0 #649632, -2em 12em 0 0 #649632, -3em 12em 0 0 #649632, -4em 12em 0 0 #649632, -5em 12em 0 0 #4b4b4b, -4em 13em 0 0 #4b4b4b, -3em 13em 0 0 #649632, -2em 13em 0 0 #649632, -1em 13em 0 0 #96cbcf, 0 13em 0 0 #649632, 1em 13em 0 0 #649632, 2em 13em 0 0 #eb0000, 3em 13em 0 0 #649632, 4em 13em 0 0 #4b4b4b, 3em 14em 0 0 #4b4b4b, 2em 14em 0 0 #4b4b4b, 1em 14em 0 0 #4b4b4b, 0 14em 0 0 #aa782c, -1em 14em 0 0 #4b4b4b, -2em 14em 0 0 #4b4b4b, -3em 14em 0 0 #4b4b4b, -1em 15em 0 0 #4b4b4b, 0 15em 0 0 #4b4b4b, 1em 15em 0 0 #4b4b4b;
  }
  100% {
    box-shadow: 0 3em 0 0 #4b4b4b, 1em 4em 0 0 #4b4b4b, 0 4em 0 0 #649632, -1em 4em 0 0 #4b4b4b, -2em 5em 0 0 #4b4b4b, -1em 5em 0 0 #96cbcf, 0 5em 0 0 #649632, 1em 5em 0 0 #649632, 2em 5em 0 0 #4b4b4b, 3em 6em 0 0 #4b4b4b, 2em 6em 0 0 #649632, 1em 6em 0 0 #eb0000, 0 6em 0 0 #649632, -1em 6em 0 0 #649632, -2em 6em 0 0 #649632, -3em 6em 0 0 #4b4b4b, -2em 7em 0 0 #4b4b4b, -1em 7em 0 0 #649632, 0 7em 0 0 #2d8434, 1em 7em 0 0 #649632, 2em 7em 0 0 #4b4b4b, 3em 8em 0 0 #4b4b4b, 2em 8em 0 0 #649632, 1em 8em 0 0 #2d8434, 0 8em 0 0 #649632, -1em 8em 0 0 #2d8434, -2em 8em 0 0 #649632, -3em 8em 0 0 #4b4b4b, -4em 9em 0 0 #4b4b4b, -3em 9em 0 0 #649632, -2em 9em 0 0 #eb0000, -1em 9em 0 0 #649632, 0 9em 0 0 #d8ba00, 1em 9em 0 0 #649632, 2em 9em 0 0 #96cbcf, 3em 9em 0 0 #649632, 4em 9em 0 0 #4b4b4b, 3em 10em 0 0 #4b4b4b, 2em 10em 0 0 #649632, 1em 10em 0 0 #2d8434, 0 10em 0 0 #649632, -1em 10em 0 0 #2d8434, -2em 10em 0 0 #649632, -3em 10em 0 0 #4b4b4b, -4em 11em 0 0 #4b4b4b, -3em 11em 0 0 #649632, -2em 11em 0 0 #2d8434, -1em 11em 0 0 #649632, 0 11em 0 0 #2d8434, 1em 11em 0 0 #649632, 2em 11em 0 0 #2d8434, 3em 11em 0 0 #d8ba00, 4em 11em 0 0 #4b4b4b, 5em 12em 0 0 #4b4b4b, 4em 12em 0 0 #649632, 3em 12em 0 0 #649632, 2em 12em 0 0 #649632, 1em 12em 0 0 #649632, 0 12em 0 0 #649632, -1em 12em 0 0 #649632, -2em 12em 0 0 #649632, -3em 12em 0 0 #649632, -4em 12em 0 0 #649632, -5em 12em 0 0 #4b4b4b, -4em 13em 0 0 #4b4b4b, -3em 13em 0 0 #d8ba00, -2em 13em 0 0 #649632, -1em 13em 0 0 #96cbcf, 0 13em 0 0 #649632, 1em 13em 0 0 #649632, 2em 13em 0 0 #eb0000, 3em 13em 0 0 #649632, 4em 13em 0 0 #4b4b4b, 3em 14em 0 0 #4b4b4b, 2em 14em 0 0 #4b4b4b, 1em 14em 0 0 #4b4b4b, 0 14em 0 0 #aa782c, -1em 14em 0 0 #4b4b4b, -2em 14em 0 0 #4b4b4b, -3em 14em 0 0 #4b4b4b, -1em 15em 0 0 #4b4b4b, 0 15em 0 0 #4b4b4b, 1em 15em 0 0 #4b4b4b;
  }
}

#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

