{% load static %}
<!doctype html>
<html class="h-100">
<head>
    <title>Oops，圣诞节还没到呢！</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static "css/countdown-bundle.css" %}" >
</head>

<body class="h-100">
<canvas id="canvas"></canvas>
<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-sm">
            <h1 id='board' class="d-flex justify-content-center h3 text-light">
                距圣诞还有 &nbsp;
            </h1>
            <div id='pageTimer' class="d-flex justify-content-center h2 mb-5 pb-5 text-light">
            </div>
            <div class="xmasTree">
            </div>
        </div>
    </div>
</div>

<footer>
</footer>
<script type="text/javascript">
    END_T = Date.UTC({{ year }}, {{ month|add:"-1" }}, {{ day }}, {{ hour }}, {{ minute }});
</script>
<script src="{% static "countdown-bundle.js" %}" type="text/javascript"></script>

</body>
</html>